# Esta configuración permite la visualización de una single page application.

# Deshabilita la visualización del directorio si este no cuenta con un archivo 
# index.html.
Options All -Indexes

# Habilita el motor de redireccionamiento.
RewriteEngine on

# Redirige al index.htlm de la web si el archivo o directorio especificado no 
# existe.
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.html [L]

# Redirige las peticiones a la versión HTTPS de la web.
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI}